body {
    background-image: url(images/Wxp.jpg);
    background-repeat: no-repeat;
    margin: 0px;
}

.contenu {
    background-image: url(images/notepad2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 608px;
    height: 418px;
    margin: auto;
}

.contenu p {
    text-align: left;
    padding: 80px 50px;
    margin: 0px;
}

.the-bar {
    background-image: url(images/Wxpbar.jpg);
    background-repeat: no-repeat;
    height: 30px;
    padding: 0px;
    margin-top: 435px;
}