body {
    background-image: url(images/Wxp-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

.notepad {
    background-image: url(images/notepad2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 608px;
    height: 418px;
    margin: auto;
    z-index: 10;
    border-radius: 9px 9px 0px 0px;
    display: flex;
    flex-direction: row-reverse;
}

.notepad p {
    padding: 0px 0px 10px 50px;
    margin: 0px;
    font-family: 'Lucida Console', sans-serif;
    font-size: 13px;
    line-height: 15px;
}

.win-text{
    padding-top: 80px;
}

.button-close {
    display: none;
    width: 19px;
    height: 19px;
    margin: 7px 7px;
}
.button-close a {
    display: block;
    width: 19px;
    height: 19px;
}

.notepad:hover .button-close {
    display: block;
}

.button-close img{
    width: 19px;
    transition: transform 400ms;
}

.button-close:hover img{
    transform: scale(1.15);
}

.the-bar {
    background-image: url(images/Wxp-bluebar.jpg);
    padding: 0px 0px 0px 105px;
    position: fixed;
    width: 100%;
    bottom: 0px;
    height: 30px;

}

.the-bar a {
    padding: 0px 3px;
}

.social-button{
    width: 20px;
    padding-top: 0px;
    display: none;
    border-radius: 5px;
    box-shadow: black 1px 1px 1px;
    margin-top: 6px;
}

.the-bar:hover .social-button {
    display: inline ;
}

.start-wxp img {
    position: absolute;
    left: 0px;
}

#start-button-hover, #start-button-active, #menu-wxp {
    display: none;
}

.start-wxp:hover #start-button-hover {
    display: inline;
}

.start-wxp:active #start-button-active, .start-wxp:active #menu-wxp, .start-wxp:active .temp-message {
    display: inline;
}

.start-wxp:active #menu-wxp{
    display: inline;
}

.heure {
    position: absolute;
    right: 128px;
    margin: 7px 0px 0px 0px;
    color: white;
    font-size: 12px;
    font-family: system-ui, sans-serif;
    display: inline;
    font-weight: lighter;
}

.réseaux-sociaux {
    display: inline;
}

#menu-wxp {
    padding: 0px;
    margin: -478px 0px;
    border-radius: 9px 9px 0px 0px;
}

.temp-message {
    display: none;
    width: 180px;
    position: absolute;
    margin: -400px -100px;
    font-family: 'Lucida Console', sans-serif;
    font-size: 14px;
}